.carousel_skills {
    background: rgba(255, 255, 255, 0.35);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 80%;
    height: 30%;
    padding: 0 1rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .slide_carousel_skill {
        font-family: $raleway;
        font-size: 24px;
        font-weight: 500;
    }
    #arrow_left_carousel_skills, #arrow_right_carousel_skills {
        cursor: pointer;
    }
}