footer {
    background-color: #31363F;
    color: #FDF7E4;
    #menu-footer {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
        padding: 0 1rem;
        color: #FDF7E4;
        &:visited {
            color: #FDF7E4;
        }
        &:active {
            color: #FDF7E4;
        }
    }
}