footer {
    background-color: #212121;
    color: #FFEAA7;
    padding: 2rem 0;
    border-top : solid 1px #B14463;
    #menu-footer {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1rem 15rem;
        font-family: $raleway;
        @media screen and (max-width: 700px) {
            padding: 1rem 2rem;
         }
        li {
            @media screen and (max-width: 700px) {
                padding: 0.5rem 0;
                font-size: 20px;
             }
        }
    }
    a  {
        text-decoration: none;
        margin: 0 1rem;
        color: #FDF7E4;
        &:visited {
            color: #FDF7E4;
        }
        &:active {
            color: #FDF7E4;
        }
        &:hover {
            color: #B14463;
        }
        
    }
    i:hover {
        color: #FDF7E4;
    }
}