// fonts

@font-face {
  font-family: 'enchantedLand';
  src: url("../fonts/Enchanted-Land.ttf") format("truetype");
}

@font-face {
  font-family: 'theConstellation';
  src: url("../fonts/the-constellation.ttf") format("truetype");
}

@font-face {
  font-family: 'againstRegular';
  src: url("../fonts/against-regular.ttf") format("truetype");
}


$enchanted-land: "enchantedLand", sans-serif;
$raleway: "Raleway", sans-serif;
$the-constellation: "theConstellation", sans-serif;
$against-regular: "againstRegular", sans-serif;



html,
body {
  margin: 0;
  //margin-top: -1rem;
  padding: 0;
  height: 100%;
  
}